{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Ваша информация доставлена
{% endblock %}
{% block content %}
    {% block payment_first %}
    {% endblock %}
    <video class="video_background" id="bgvid" playsinline autoplay muted loop>
      <source src="{% static 'img/videos4.mp4' %}" type="video/mp4">
    </video>

    <section class="contact_section mb-2">
        <div class="container">
            <div class="row m-0 align-items-center text-center pay_direct_block">
                <div class="col-12 contact_section_block mb-4">
                    <!-- Заголовок контактов -->
                    <h2 class="text-uppercase mt-5">Спасибо!</h2>
                    <p class="text-center  mt-4 mb-4">На вашу почту отправлено письмо с вашим индивидуальным кодом участника. Просто назовите индивидуальный код на входе фестиваля.</p>
                    <p class="text-center mt-5 mb-4">Можете воспользоваться меню в верхней части страницы, там вы найдёте информацию о <u>проживании</u>, <u>кемпинге</u> и <u>участниках</u> фестиваля.</p>
                    <div class="mb-2 text_fix">
                        <a href="{% static 'pdf/chestnokfest - rules.pdf' %}"><u>Общие правила/условия фестиваля</u></a>
                    </div>
                    <div class="mb-4 text_fix">
                        <a href="mailto:info@chestnokfest.live"><u>Карта общей зоны фестиваля</u></a>
                    </div>
                    <div class="mb-2 text_fix">
                        <p class="text_fix">По всем вопросам общаться по телефону <a href="tel:89136378982" class="pay_direct_link">+7 (913) 637 - 89 - 82</a> или <a href="mailto:info@chestnokfest.live" class="pay_direct_link">info@chestnokfest.live</a></p>
                    </div>
                    <div class="mb-5">
                        <a href='{% url 'landing' %}'>
                            <button type="button" class="btn px-3 text-uppercase btn_redirect_main">Вернуться на главную</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% block payment_second %}
        </div>
    {% endblock %}
{% endblock %}
