{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- Bootstrap CSS -->
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="{% static 'css/tickets.css' %}" rel="stylesheet">
  <link href="{% static 'css/contacts.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/accommodation.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

  <script>
    $(document).ready(function(){
      $('#ex1').zoom();
    });
    $(document).ready(function(){
      $('#ex2').zoom();
    });
    $(document).ready(function(){
      $('#ex3').zoom();
    });
    $(document).ready(function(){
      $('#ex4').zoom();
    });
    $(document).ready(function(){
      $('#ex5').zoom();
    });
    $(document).ready(function(){
      $('#ex6').zoom();
    });
    $(document).ready(function(){
      $('#ex7').zoom();
    });
    $(document).ready(function(){
      $('#ex8').zoom();
    });
    $(document).ready(function(){
      $('#ex9').zoom();
    });
    $(document).ready(function(){
      $('#ex10').zoom();
    });
    $(document).ready(function(){
      $('#ex11').zoom();
    });
    $(document).ready(function(){
      $('#ex12').zoom();
    });
    $(document).ready(function(){
      $('#ex13').zoom();
    });
    $(document).ready(function(){
      $('#ex14').zoom();
    });
    $(document).ready(function(){
      $('#ex15').zoom();
    });
  </script>

    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>

    {% block payment_first %}
    {% endblock %}

    {% include "base/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "base/footer.html" %}

    {% block payment_second %}
    {% endblock %}

   <!-- JS Подключение библиотек -->



    <!-- JS Добавление участников -->
    <script src="{% static 'js/tickets.js' %}"></script>
    <script src="{% static 'js/jquery.zoom.js' %}"></script>
    <!-- JS Проверка полей -->
    <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
    <script src="{% static 'js/dataValidation.js' %}"></script>


  </body>

</html>
