<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; font-family: 'Verdana';" bg-color="#00060F">
    <!-- Наполнение письма -->

    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="center">
                <center><img style="margin-top: 30px; margin-bottom: 30px;" src="https://chestnokfest.live/static/img/logo.png"></center>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="center">
              <a href="" style="font-style: normal; font-weight: 550; font-size: 16px; line-height: 16px; text-transform: uppercase; color: #EDC043; text-decoration: none;">cHestnokfest.info</a>
              <a style="margin: 0 2%;"></a>
              <a href="tel:+ 7 (913) 637 - 89 - 82" style="font-style: normal; font-weight: 550; font-size: 16px; line-height: 16px; text-transform: uppercase; color: #EDC043; text-decoration: none;">+ 7 (913) 637 - 89 - 82</a>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="center" style="color: white; text-align: center; text-transform: uppercase; font-style: normal; font-weight: bold; font-size: 15px; line-height: 30px;">
                <h2 style="color: #ffffff !important;">хэй, {{ name }}!</h2>
                <h2 style="color: #ffffff !important;">ты уже близок к большой сцене!</h2>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="center" style="font-style: normal; font-weight: bold; font-size: 18px; font-weight: 400; line-height: 18px; color: #EDC043;">
                <p style="margin-bottom: 2%;">А сейчас тебе необходимо сделать следующее:</p>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="" style="font-style: normal; font-weight: normal; font-size: 18px; line-height: 18px; color: #FFFFFF;">
                <p style="">1. Показать на что ты способен - отправить аудио или видео файл на почту <a href="mailto:info@chestnokfest.live" style="text-decoration: none; color: #EDC043;">info@chestnokfest.live</a></p>
                <p style="">2. Написать нам полный состав группы с контактной информацией</p>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; padding-left:10%; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="" style="font-style: normal; font-weight: normal; font-size: 14px; line-height: 14px; color: #9C9C9C;">
                <span>а. Ф.И.О - Номер телефона - Эл. почта - Роль в группе</snap>
            </td>
        </tr>
        <tr>
            <td align="" style="font-style: normal; font-weight: normal; font-size: 14px; line-height: 14px; color: #9C9C9C;">
                <span style="">б. Ф.И.О - Номер телефона - Эл. почта - Роль в группе</span>
            </td>
        </tr>
        <tr>
            <td align="" style="font-style: normal; font-weight: normal; font-size: 14px; line-height: 14px; color: #9C9C9C;">
                <span style="">в. и. т. д.</span>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="center">
                <p style="font-style: normal; font-weight: 400; font-size: 17px; line-height: 18px; text-transform: uppercase; color: #EDC043;">мы рассмотрим твою заявку в течении 24 часов!</p>
            </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; padding-bottom: 5%; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td align="center">
                <p style="font-style: normal; font-weight: bold; font-size: 17px; line-height: 18px; color: #FFFFFF;">Наличие собственного инструмента не обязательно!</p>
            </td>
        </tr>
    </table>


    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana';" bg-color="#00060F">
        <tr>
            <td>
              <div style="text-align: center; margin-bottom: 2%;">
                <a href="https://chestnokfest.live/"><button style="border: 0;padding: 12px 25px; background: #EDC043; font-weight: bold; font-size: 16px; line-height: 16px; color: #0D0D0D; border-radius: 6px !important; text-transform: uppercase">фестиваль</button></a>
              </div>
              <div style="text-align: center; margin-bottom: 2%;">
                <a href="https://chestnokfest.live/members/"><button style="border: 0;padding: 12px 28px; background: #EDC043; font-weight: bold; font-size: 16px; line-height: 16px; color: #0D0D0D; border-radius: 6px !important; text-transform: uppercase">список участников</button></a>
              </div>
              <div style="text-align: center; margin-bottom: 2%;">
                <a href="https://chestnokfest.live/accommodation/"><button style="border: 0;padding: 12px 28px; background: #EDC043; font-weight: bold; font-size: 16px; line-height: 16px; color: #0D0D0D; border-radius: 6px !important; text-transform: uppercase">о проживании</button></a>
              </div>
          </td>
        </tr>
    </table>
    <table  style="margin: 0 auto; min-width: 320px; max-width: 600px; color: white; background-color: #00060F; width: 100%; font-family: 'Verdana'; padding:0 40px;" bg-color="#00060F">
        <tr>
            <td style="margin-top: 30px; text-align: center;">
                <a href="tel:89136378982" style="color: #EDC043; text-decoration: none; font-style: normal; font-weight: 550; font-size: 16px; line-height: 16px; text-transform: uppercase;">+ 7 (913) 637 - 89 - 82</a>
            </td>
        </tr>
        <tr>
            <td style="margin-top: 30px; text-align: center; color: #DFB53F;">
              <a href="https://chestnokfest.live/static/pdf/chestnokfest%20-%20rules.pdf" style="color: #DFB53F;">Общие правила условия фестиваля</a>
              <p class="text-center foot-text mt-4">Организатор: ИП Каменев С. В. ИНН 561400201202 ОГРНИП 319565800014718 Юридический адрес: Сочи, Главная, 54</p>
              <p class="text-center foot-text">Партнёры проекта: ООО "Рента Сервис Групп" МПК (О) ЗОЛОТАЯ ОСЬ</p>
          </td>
        </tr>
    </table>

    <!-- JS Подключение библиотек -->

    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
