{% extends "base.html" %}
{% load static %}
{% block head_title %}
    Оплата
{% endblock %}
{% block content %}
    {% block payment_first %}
    <div class="" style="background: url('../../static/img/imghead12.png') no-repeat; background-size: cover;">
    {% endblock %}


    <section class="tickets_payment mb-5">
        <div class="container">
            <p>Оплата успешна. Вам на почту отправлен ключ для входа на фестиваль.</p>
        </div>
    </section>


    {% block payment_second %}
        </div>
    {% endblock %}
{% endblock %}
