<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="css/tickets.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- Меню -->

    <header>

    </header>

    <!-- Предупреждение -->

    <section class="tickets_warning mb-2">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-12 tickets_warning_block">
                    <div class="row row align-items-center text-center">
                        <div class="col-1 text-right">
                            <span class="warning_sign">!</span>
                        </div>
                        <div class="col-10 text-left">
                            <p class="m-0 px-2 py-3"> с 01.06.2020 по 01.07.2020 00:00 стоимость билета фестиваля ЧесТnok - <span>3000 руб.</span>, в период с 01.07.2020 по 24.08.2020 - <span>5000 руб.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Оплата -->

    <section class="tickets_payment">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 tickets_payment_section">
                    <!-- Информация о фестивале -->
                    <div class="tickets_payment_block pl-sm-3">
                        <h2 class="tickets_block_name text-uppercase my-4">Рок фестиваль ЧесTnok покупка билетов:</h2>
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-3 tickets_label">
                                <p class="mb-3">Возрастные ограничения:</p>
                            </div>
                            <div class="col-sm-12 col-md-9 tickets_description">
                                <p class="mb-3">14+</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-3 tickets_label">
                                <p class="mb-3">Место проведения:</p>
                            </div>
                            <div class="col-sm-12 col-md-9 tickets_description">
                                <p class="mb-3">Территория пансионата "Якорная щель" г. Сочи, Краснодарский край</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-3 tickets_label">
                                <p class="mb-3">Дата:</p>
                            </div>
                            <div class="col-sm-12 col-md-9 tickets_description">
                                <p class="mb-3">24.08.2020 - 06.09.2020</p>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-sm-12 col-md-3 tickets_label">
                                <p class="mb-2">Цена билета:</p>
                            </div>
                            <div class="col-sm-12 col-md-9 tickets_description">
                                <p class="mb-3">3.000 рублей</p>
                            </div>
                        </div>
                        <p class="tickets_text">Информация о проживании в здании пансионата, аренде кемпинг-зон и питании по телефону: <a href="tel:89999999999">8 (999) 999 - 99 - 99</a></p>
                        <p class="tickets_text">Совершая покупку билета, вы соглашаетесь с порядком и <a href="#">правилами посещения фестиваля</a> “ЧесТnock”</p>
                        <p class="tickets_text">После оплаты на Вашу почту будет отправлено автоматическое письмо с <u>кодом участника</u>, а Ваши данные будут внесены в <u>список пропускного контроля</u>.</p>
                    </div>
                    <!-- Добавление участников, ввод и проверка данных участников -->
                    <div class="tickets_payment_block pl-sm-3">
                        <h2 class="tickets_block_name text-uppercase my-4">Информация об участниках</h2>
                        <div class="row tickets_add mb-4">
                            <div class="col-12">
                                <span class="tickets_add_block">Добавить участника</span>
                                <button type="button" class="btn ticket_remove" onclick="ticketRemove()">-</button>
                                <span class="tickets_count"></span>
                                <button type="button" class="btn ticket_add" onclick="ticketAdd()">+</button>
                            </div>
                        </div>
                        <div class="row tickets_block_row mb-3">
                            <div class="col-10 col-md-3 col-xl-2 mb-sm-3">
                                Билет <span>№<span class="number_r"></span></span>
                            </div>
                            <div class="col-10 col-md-3 col-xl-2 mb-3">
                                <label for="secondName">Фамилия</label>
                                <input type="text" class="form-control secondName" oninput="s_nameValidation(this.value, this.id, '#errorRecordSNAME')" placeholder="Фамилия">
                                <div class="errorRecord" id="errorRecordSNAME"></div>
                            </div>
                            <div class="col-10 col-md-3 col-xl-2 mb-3">
                                <label for="firstName">Имя</label>
                                <input type="text" class="form-control firstName" oninput="f_nameValidation(this.value, '.firstName', '#errorRecordFNAME')" placeholder="Имя">
                                <div class="errorRecord" id="errorRecordFNAME">
                                </div>
                            </div>
                            <div class="col-10 col-md-3 col-xl-2 mb-3">
                                <label for="secondName">Номер телефона</label>
                                <input type="text" class="form-control telName"
                                oninput="$(this).mask('+7(999)999-99-99');" onblur="telValidation('.telName', '#errorRecordTel')" placeholder="+7 (xxx) xxx-xx-xx">
                                <div class="errorRecord" id="errorRecordTel"></div>
                            </div>
                        </div>
                        <p class="tickets_text"><span>Билеты будут отправлены на Вашу электронную почту.</span><br></span> Будьте внимательны! Проверьте правильность ввода адреса перед подтверждением платежа.</p>
                        <div class="row">
                            <div class="col-lg-3 col-xl-2 d-none d-lg-block">
                            </div>
                            <div class="col-10 col-md-4 col-lg-3">
                                <label for="email">Электронная почта</label>
                                <input type="email" class="form-control" id='mailReview' onblur="mailValidation(this.value)" placeholder="Имя">
                                <div class="errorRecord" id="errorReviewMail">
                                </div>
                            </div>
                            <div class="col-10 col-md-4 col-lg-3">
                                <label for="emailConfirm">Подтверждение эл. п.</label>
                                <input type="email" class="form-control" id="emailConfirm" onblur="conmailValidation(this.value)" placeholder="Имя">
                                <div class="errorRecord" id="errorReviewMailConf"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Блок с вводом данных карты -->
                    <!-- <div class="tickets_payment_block pl-sm-3">
                        <h2 class="tickets_block_name text-uppercase my-4">Оплата банковской картой</h2>
                        <p class="tickets_text">Оплата банковской картой только для жителей РФ. Для преобретения билета введите данные карты с обеих сторон карты.</p>
                        <div class="row">
                            <div class="col-1 d-none d-xl-block"></div>
                            <div class="col-12 col-lg-6 col-xl-5">
                                <div class="tickets_card my-4">
                                    <div class="number_card">
                                        <label for="numberCard" class="label_card pl-5 mt-5 mb-0">Номер карты</label>
                                        <input type="text" class=" pl-5 text-left" id="numberCard" placeholder="0000-0000-0000-0000">
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="ownerName" class="pl-5 mt-4 mb-0">Держатель карты</label></label><br>
                                                <input type="text" class="secondField ml-5" id="ownerName" placeholder="Фамилия и имя">
                                            </div>
                                            <div class="col-6">
                                                <label for="data_card" class="pl-5 mt-4 mb-0">Срок действия</label><br>
                                                <input type="text" class="secondField ml-5" id="data_card" placeholder="MM/YY">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-5">
                                <div class="tickets_card my-4">
                                    <div class="number_card pt-2">
                                        <div class="card_grey_block mt-4"></div>
                                        <div class="cvvCode mt-4">
                                            <label for="cvv_code" class="label_card mb-0">CVV</label><br>
                                            <input type="text" class="secondField pl-5 text-left" id="cvv_code" placeholder="000">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="tickets_text">*Для оплаты используется <u><b>защищенное SSL соединение.</b></u></p>
                    </div> -->
                    <!-- Проверка и подтверждение введённых данных, переход к оплате -->
                    <div class="tickets_payment_block pl-sm-3">
                        <h2 class="tickets_block_name text-uppercase my-4">Проверка и подтверждение</h2>
                        <div class="row">
                            <div class="col-md-10 col-lg-5 tickets_total">
                                <div class="row align-items-center">
                                    <div class="col-5 tickets_label">
                                        <p class="mb-3">ФИО участника №521:</p>
                                    </div>
                                    <div class="col-7 tickets_description">
                                        <p class="mb-3"><span id="secondnameEnter"></span> <span id="firstnameEnter"></span></p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-5 tickets_label">
                                        <p class="mb-3">Номер телефона:</p>
                                    </div>
                                    <div class="col-7 tickets_description">
                                        <p class="mb-3"><span id="telEnter"></span></p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-5 tickets_label">
                                        <p class="mb-3">Цена билета:</p>
                                    </div>
                                    <div class="col-7 tickets_description">
                                        <p class="mb-3">3000 рублей</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-10 col-lg-5 tickets_total">
                                <div class="row align-items-center">
                                    <div class="col-5 tickets_label">
                                        <p class="mb-3">ФИО участника №521:</p>
                                    </div>
                                    <div class="col-7 tickets_description">
                                        <p class="mb-3">Петрова Анастасия Александровна</p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-5 tickets_label">
                                        <p class="mb-3">Номер телефона:</p>
                                    </div>
                                    <div class="col-7 tickets_description">
                                        <p class="mb-3">+7(999)999-99-99</p>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-5 tickets_label">
                                        <p class="mb-3">Цена билета:</p>
                                    </div>
                                    <div class="col-7 tickets_description">
                                        <p class="mb-3">3000 рублей</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="row align-items-center tickets_summ">
                                    <div class="col-6 col-md-5 col-lg-2 tickets_payment_label">
                                        <p class="mb-2">Сумма к оплате:</p>
                                    </div>
                                    <div class="col-6 col-lg-10 tickets_payment_description">
                                        <p class="mb-2 total_summ"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-payment">Оплатить</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Футер -->

    <footer>

    </footer>

    <!-- JS Подключение библиотек -->

    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- JS Добавление участников -->
    <script src="js/tickets.js"></script>
    <!-- JS Проверка полей -->
    <script src="js/jquery.maskedinput.js"></script>
    <script src="js/dataValidation.js"></script>

</body>
</html>
